@font-face
{
    font-family: 'Deathnote';
    src: url(DEATHNOTEFont.ttf)
}
canvas{
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    margin-left: 11cm;
    margin-top: 1cm;
  }

body{
  background-image: url('fondo.jpg');
}

ul{
  color:whitesmoke;
}

.high-score{
  position : absolute;
  top: 1.5 rem;
  width: 80%;
  left: 10%;
  text-align: center;
}

.reset{
  cursor: pointer;
  position: absolute;
  top:95%;
  left:10%;
  text-align: center;
}

#gameovergif{
  width: 800px;
  height: 400px;
  margin-top: 5px;
  margin-left: 500px;
}

#wingif{
  width: 800px;
  height: 400px;
  margin-top: 5px;
  margin-left: 500px;
}

#init{
  width: 3cm;
  height: 2cm;
  background-color: white;
  color: black;
  font-size: 20px;
  font-family: 'Courier New', arial;
  margin-top: 6cm;
  margin-left: 23cm;
}


p{
  color: antiquewhite;
  text-align: center;
  font-family: 'Deathnote';
  font-size: 70px;
  margin-top: 5px;
}