canvas {
    background-color: #7B0620;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
  }

  body{
    background:  #470212  ;
  }

  .high-score{
    position : absolute;
    top: 1.5 rem;
    width: 80%;
    left: 10%;
    text-align: center;
  }

  .reset{
    cursor: pointer;
    position: absolute;
    top:95%;
    left:10%;
    text-align: center;
  }